<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ncusoft.ncudocmsapp">

    <application
        android:allowBackup="true"
        android:name=".ClientApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activitys.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.login.RegisterActivity">
        </activity>
        <!--teacher -->
        <activity android:name=".activitys.teacher.TeacherMainActivity">
        </activity>
        <activity android:name=".activitys.teacher.TeacherCourseActivity">
        </activity>
        <activity android:name=".activitys.teacher.TeacherStuListActivity">
        </activity>
        <activity android:name=".activitys.teacher.TeacherSelectCouActivity">
        </activity>
        <!--TODO:添加课程暂时放在教师这里-->
        <activity android:name=".activitys.teacher.AdminAddCourseActivity">
        </activity>
        <activity android:name=".activitys.teacher.TeacherInfoActivity">
        </activity>
        <activity android:name=".activitys.teacher.TeacherEditTeaCouActivity">
        </activity>
        <!--teacher -->


        <!--student-->
        <activity android:name=".activitys.student.StudentMainActivity">
        </activity>
        <!--student-->
    </application>

</manifest>